*{
    outline: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

.nav{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
    background: #f7f7f7;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.title-text{
    font-size: 24px;
    font-weight: bold;
    color: #1f88c0;
}

.input-text{
    width: 80%;
    padding: 15px;
    border: none;
    border-radius: 4px;
}

.login-area{
    display: flex;
    gap: 20px;
}

.login-icon{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 0px 10px;
    color: #1f88c0;
}

.text-i-login{
    font-size: 14px;
}

i {
    color: #1f88c0;
    font-size: 24px;
}

.content{
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 20px;
    justify-items: center;
}

.filter{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid rgb(204, 204, 204);
    gap: 20px;
    border-radius: 6px;
}

.price-change{
    margin-top: 20px;
}

.input-price{
    width: 90%;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid rgb(204, 204, 204) !important;
}

label, p {
    color: rgb(102, 97, 97);
}

.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    text-align: left;
}

.about-product{
    margin: 10px;
}

.price-product{
    font-size: 20px;
    margin: 10px;
    color: #1f88c0;
    font-weight: bold;
}